<p class="display-2">Contact List</p>

<button class="btn btn-lg btn-warning" (click)="goBack()">Back to Home</button>
<button class="btn btn-lg btn-warning" (click)="goBack()">Add customers</button>

<table class="table table-striped table-active">
    <tr>
        <th>First Name</th>
        <th>Email Id</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of contactList">
        <td>{{item.FirstName}}</td>
        <td>{{item.EmailID}}</td>
        <td>
            <a [routerLink]="['/contact',item.ContId ] "
             routerLinkActive="active"
             class="btn btn-sm btn-success">View</a> 
             <a [routerLink]="['/contact','edit',item.ContId ] "
              routerLinkActive="active" 
              class="btn btn-sm btn-warning">Edit</a>
        </td>
    </tr>
</table>
